<p>I am Servers</p>

<hr>
<h3>And this are server</h3>

<app-server></app-server>

<hr>
<h4>Trying data binding -> outputing Data</h4>
<p>Server with ID {{serverId}} is {{serverStatus}} and now here {{'just a string'}} we use this to return string and we can write multiline here except ternary operator</p>
<p>you can also call a method like -> {{getServerStatus()}} -> from this getServerStatus()</p>

<hr>
<h4>Property Binding</h4>
<button class="btn btn-primary" [disabled] = "!allowNewServer">Add Server Button</button>